



<div class="response-container">
    <div class="method-container"r>
        <p>{{request_name}}<span id="format-selected"></span></p>
    </div>
    <div id="response-selector">
        <select id="response-format" >
            <option>json</option>
            <option>xml</option>
        </select>
    </div>
    <pre><code id="api-response-header" ></code></pre>
    <pre><code id="api-response-body"></code></pre>
</div>

